@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400&display=swap");

:root {
  --hero: rgb(161, 98, 39);
  --secondary: rgb(84, 160, 196);
  --accent: rgb(253, 246, 157);
  --hero-title: rgb(176, 173, 178);
  --search: rgb(84, 160, 196);
  --dark-text: rgb(0, 0, 0);
  --muted-text: rgba(0, 0, 0, 0.65);
}
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*
************** ELEMENTS **************
*/

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
figcaption {
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem auto;
  padding: 1rem;
  font-size: 1.75rem;
  font-weight: 300;
  max-width: 300px;
  max-height: 70px;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
  text-align: center;
  line-height: 0.5;
  transition: transform 1s;
  cursor: pointer;
}

button img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
  transition: transform 1s;
}

button.search-button {
  background: var(--hero);
  margin: 3rem auto;
  animation-name: animation;
  animation-duration: 3s;
  color: var(--button-text);
}

/*
************** HEADER **************
*/

header {
  background-color: var(--secondary);
  padding: 0.07rem;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.25rem;
  width: 100%;
  z-index: 2;
}

nav .container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  width: 100%;
}

nav .container ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 1.2rem;
}
nav .container ul li {
  display: inline-block;
  margin-right: 0.6rem;
  letter-spacing: -0.02rem;
}

nav .container ul li a {
  color: var(--accent);
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

/*
************** HERO **************
*/

#hero {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(80vh);
  background-color: var(--hero);
  padding-top: 0.7rem;
  flex-wrap: wrap;
}

section#hero {
  display: flex;
}

#hero .description-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-around;
  min-width: 320px;
  width: 50%;
  animation-name: animation;
  animation-duration: 2s;
}

#hero .image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 320px;
  width: 50%;
  animation-name: animation;
  animation-duration: 4s;
}

figure.chuck-container {
  margin: 15px;
}
#hero h1 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 5rem;
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
  letter-spacing: -0.05em;
  color: var(--muted-text);
  animation-name: animationMainTitle;
  animation-duration: 1s;
}

#hero span {
  font-weight: 600;
}

#hero p {
  color: var(--accent);
  font-size: 2rem;
  text-align: center;
  line-height: 1.5;
  padding: 0.8rem 3rem;
}

#hero figure {
  width: 400px;
}
#hero .image-container img {
  width: 100%;
  height: auto;
}

/*
************** SEARCH **************
*/

#search {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  color: var(--muted-text);
  margin-top: 30px;
  padding: 2rem;
}

.search-title {
  margin-bottom: 5px;
  margin-top: 10px;
  animation-name: animation;
  animation-duration: 5s;
}
.search-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.search-left {
  padding-left: 25px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-category {
  display: flex;
  justify-content: center;
  align-items: center;
}

select {
  border: 1px solid black;
}

.search-right {
  padding-right: 25px;
  padding-bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  border: 1px solid black;
}

.search-bottom {
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 0;
}

.search-title h2 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: var(--muted-text);
}

#search h2 span {
  font-weight: 700;
  letter-spacing: -2px;
  line-height: 60px;
}

#search .search-left span,
#search .search-right span {
  font-weight: 600;
}
#search .search-left,
#search .search-right {
  padding: 1rem;
}
#search p {
  color: var(--muted-text);
  font-size: 1.25rem;
  text-align: center;
  line-height: 1.5;
  padding: 1rem;
  font-weight: 300;
  text-align: left;
}

#search span.italic {
  font-style: italic;
  font-weight: 400;
}

#search .joke-display {
  text-align: center;
  font-size: 3rem;
}
/*
************** FEATURES **************
*/

#team {
  display: flex;
  justify-content: center;
  min-height: calc(100vh);
  background-color: var(--hero);
  min-height: calc(50vh);
  padding: 1.5rem;
}

#team h3 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 2.5rem;
  text-align: center;
  line-height: 1.5;
  letter-spacing: -0.05em;
  color: var(--muted-text);
  margin-bottom: 40px;
  margin-top: 30px;
}

#team p {
  text-align: center;
  font-size: 1.5rem;
  color: var(--muted-text);
}

.info-group {
  display: flex;
  justify-content: space-around;
  padding: 0.2rem;
  margin-bottom: 3rem;
}

figure.info-1,
figure.info-2,
figure.info-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: var(--secondary);
  width: 32%;
  margin: 1rem;
}

figure.info-1 img,
figure.info-2 img,
figure.info-3 img {
  width: 70%;
  margin: 2rem auto;
}

figure figcaption {
  background: var(--accent);
  font-size: 1.2rem;
  padding: 1rem;
  line-height: 1.5;
  text-align: center;
}

.socials {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

.social-icon {
  max-height: 50px;
}
/*
************** FOOTER **************
*/

footer {
  background-color: var(--secondary);
  height: calc(20vh);
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer.footer-container {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: space-around;
}
footer p {
  color: var(--dark-text);
  font-size: 1rem;
  text-align: center;
  margin: 20px;
}

footer a {
  color: var(--accent);
}

footer a:hover {
  color: var(--hero);
}

button#scroll-to-top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent);
  border: none;
  border-radius: 10%;
  cursor: pointer;
  position: fixed;
  right: 2rem;
  bottom: 1.75rem;
  padding: 0;
  padding-left: 1rem;
  margin: 0 auto;
}

button#scroll-to-top img {
  width: 25px;
  background-size: contain;
}
/*
************** ANIMATIONS **************
*/

@keyframes animationMainTitle {
  0% {
    opacity: 1;
    transform: translateY(-20px);
  }
  20% {
    opacity: 0.2;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animation {
  0% {
    opacity: 1;
    transform: translateY(-25px);
  }
  20% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/*
************** MEDIA QUERIES **************
*/

@media (max-width: 700px) {
  #hero .description-container {
    margin: 0;
    padding: 0;
  }

  #hero h1 {
    font-size: 4rem;
    margin: 0;
    padding: 1rem 1rem;
  }

  #hero p {
    font-size: 2rem;
  }

  #hero img {
    max-width: 100%;
  }

  .info-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  figure.info-1,
  figure.info-2,
  figure.info-3 {
    min-width: 70%;
    margin-bottom: 10%;
  }
}

@media (max-width: 750px) {
  #about {
    margin-left: 20px;
    margin-right: 20px;
  }
  .about-container {
    flex-direction: column;
  }
}
